<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/addIngredient.css">
	<script src="/js/addIngredient.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Ingredient</title>
</head>
<body>
	<div id="info">
		<input type="button" value="Back" onclick="history.back()">
		<br>
		<div id="info-set">
			<li id="name-set">
				<label for="name-input">New Ingredient Name:</label>
				<br>
				<input type="text" id="name-input">
			</li>
			<li id="cost-set">
				<label for="cost-input">Cost per gram (usd):</label>
				<br>
				<input type="text" id="cost-input">
			</li>
			<!--<li id="health-set">
				<div>Health:</div>
				<li id="health-calorie-set">
					<label for="health-calorie-input">Calories/gram:</label>
					<br>
					<input type="text" id="health-input">
				</li>
				<li id="health-saturatedfats-set">
					<label for="health-saturatedfats-input">Saturated Fats/gram:</label>
					<br>
					<input type="text" id="health-saturatedfats-input">
				</li>
				<br>
			</li>-->
			<li id="type-set">
				<label for="type-input">Type (carbohydrate, diary...):</label>
				<br>
				<input type="text" id="type-input">
			</li>
			<!--<li id="substitute-set">
				<label for="substitute-input">Substitutes:</label>
				<br>
				<input type="text" id="substitute-input">
			</li>-->
			<li id="specialized-set">
				<label for="specialized-input">Is specialized (can it not be found in a general food store):</label>
				<br>
				<input type="checkbox" id="specialized-input">
			</li>
			<li id="restrictions-set">
				<label for="restrictions-input">Restrictions (vegan, vegitarian...):</label>
				<br>
				<textarea rows="6" cols="50" id="restrictions-input"></textarea>
			</li>
			<li id="notes-set">
				<label for="notes-input">Notes (Pack when measuring, can be toxic if not cooked right...):</label>
				<br>
				<textarea rows="6" cols="50" id="notes-input"></textarea>
			</li>
			<li id="needs-more-info-set">
				<label for="needs-more-info-input">Needs more info (is there anything missing or unsure):</label>
				<br>
				<input type="checkbox" id="needs-more-info-input" checked=true>
			</li>
		</div>
		<br>
		<input type="button" value="Submit" onclick="submitInfo()">
	</div>

</body>
</html>