<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/addRecipe.css">
	<script src="/js/addRecipe.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Add/Edit Recipe</title>
</head>
<body>
	<div id="info">
		</div id="top-menu">
			<input type="button" value="Back" onclick="history.back()">
			<input type="button" value="Home" onclick="goToHome()">
			<input type="button" value="Save" onclick="submitInfo(false)">
			<input type="button" value="Submit" onclick="submitInfo()">
		</div>
		<div id="info-set">
			<li id="name-set">
				<label for="name-input">Recipe Name:</label>
				<br>
				<input type="text" id="name-input">
			</li>
			<li id="total-time-set">
				<label for="total-time-input">Total time:</label>
				<br>
				<input type="text" id="total-time-input">
			</li>
			<li id="effort-time-set">
				<label for="effort-time-input">Effort time (prep time):</label>
				<br>
				<input type="text" id="effort-time-input">
			</li>
			<li id="type-set">
				<label for="type-input">Type set (breakfast, dinner...):</label>
				<br>
				<input type="text" id="type-input">
			</li>
			<li id="ethnicity-set">
				<label for="ethnicity-input">Ethnicity:</label>
				<br>
				<input type="text" id="ethnicity-input">
			</li>
			<li id="difficulty-set">
				<label for="difficulty-input">Difficulty (out of 10):</label>
				<br>
				<input type="text" id="difficulty-input">
			</li>
			<li id="servings-set">
				<label for="servings-input">Servings:</label>
				<br>
				<input type="text" id="servings-input">
			</li>
			<li id="ingredients-set">
				<label for="ingredient-container">Ingredient, Amount, Unit</label>
				<ul id="ingredient-container">
				</ul>
				<button onclick="addIngredient()">Add ingredient</button>
				<button onclick="addSubIngredient()">Add sub ingredient</button>
				<button onclick="addSublist()">Add sublist</button>
				<button onclick="removeIngredient()">Remove bottom</button>
			</li>
			<li id="directions-set">
				<label for="directions-input">Directions (mix dry ingredients, let it sit for an hour...):</label>
				<br>
				<textarea rows="6" cols="50" id="directions-input"></textarea>
			</li>
			<li id="notes-set">
				<label for="notes-input">Notes (Good with garlic bread, often served cold, better the next day...):</label>
				<br>
				<textarea rows="6" cols="50" id="notes-input"></textarea>
			</li>
			<li id="needs-more-info-set">
				<label for="needs-more-info-input">Needs more info (is there anything missing or unsure):</label>
				<br>
				<input type="checkbox" id="needs-more-info-input" checked=true>
			</li>
		</div>
		<br>
	</div>
	<template id="ingredient-template">
		<li>
			<input type="text" placeholder="ingrdient" list="ingredient-datalist" ingredient-input>
			<input type="text" placeholder="amount" amount-input>
			<input type="text" list="unit-list" placeholder="unit" unit-input>
		</li>
    </template>
	<template id="ingredient-sub-template">
		<li class="sub-ingredient-container">
			<input type="text" placeholder="sub-list title" sub-title-input>
		</li>
    </template>
	<datalist id="ingredient-datalist">
	</datalist>
	<datalist id="unit-list">
		<option value="Teaspoon"></option>
		<option value="Tablespoon"></option>
		<option value="Ounce"></option>
		<option value="Cup"></option>
		<option value="Pint"></option>
		<option value="Quart"></option>
		<option value="Gallon"></option>
		<option value="Milliliter"></option>
		<option value="Liter"></option>
		<option value="Ounce"></option>
		<option value="Pound"></option>
		<option value="Gram"></option>
		<option value="Kilogram"></option>
		<option value="Pinch"></option>
	</datalist>
</body>
</html>