<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/ingredient.css">
	<script src="/js/ingredient.js" defer></script>
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<title>Ingredient</title>
</head>
<body>
	<div id="info">
		<input type="button" value="Back" onclick="history.back()">
		<input type="button" value="Home" onclick="goToHome()">
		<input type="button" value="Edit" onclick="editIngredient()">
		<input type="button" value="Delete" onclick="deleteIngredient()">
		<p id="name" class="title"></p>
		<p id="type" class="small-title"></p>
		<p id="cost" class="info"></p>
		<!--<p id="specialized" class="info"></p>-->
		<p id="tablespoon-to-gram" class="info"></p>

		<ul id="restrictions" title="Restrictions: ">
		</ul>


		<!--<ul id="health" title="Health:">
		</ul>!-->

		<!--<ul id="substitues" title="Substitutes:">
		</ul>-->

		<ul id="notes" title="Notes:">
		</ul>

		<template substitute-template>
			<li class="card" id="">
				<a class="header" href = "" data-header></a>
				<div class="body" data-body></div>
			</li>
		</template>
		<template health-template>
			<li class="card" id="">
				<div class="header" data-header></div>
			</li>
		</template>
	</div>

</body>
</html>