<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/recipe.css">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	<script src="/js/recipe.js" defer></script>
	<title>Recipe</title>
</head>
<body>
	<div id="info">
		<input type="button" value="Back" onclick="history.back()">
		<p id="name" class="title"></p>
		<p id="type" class="small-title"></p>
		<p id="eatTime" class="small-title"></p>

		<div class="servings-wrapper">
        	<label for="servings" >Servings:</label>
        	<input type="servings" id="servings" input-servings>
      	</div>

		<p id="totalTime" class="info"></p>
		<p id="effortTime" class="info"></p>
		<p id="defaultServings" class="small"></p>
		<p id="ethnicity" class="info"></p>
		<p id="difficulty" class="info"></p>

		<ul id="ingredients" title="Ingredients:">
		</ul>


		<ul id="directions" title="Directions:">
		</ul>

		<ul id="cookersNotes" title="Cooker's Notes:">
		</ul>
		
		<template ingredient-list-template>
			<li class="list-piece" id="">
				<a class="header" href = "" ingredient-link></a>
				<div class="body" ingredient-measurement></div>
			</li>
		</template>
	</div>
</body>
</html>