<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/recipe.css">
	<script src="/js/recipe.js" defer></script>
	<title>Document</title>
</head>
<body>
	<input type="button" value="Back" onclick="history.back()">
	<p id="name" class="title"></p>
	<p id="type" class="small-title"></p>
	<p id="eatTime" class="small-title"></p>
	<p id="totalTime" class="info"></p>
	<p id="effortTime" class="info"></p>
	<p id="defaultServings" class="small"></p>
	<p id="ethnicity" class="info"></p>
	<p id="difficulty" class="info"></p>

	<p>Ingredients:</p>
	<ul id="ingredients">
		
	</ul>
	<template ingredient-list-template>
		<li class="listPeice">
			<a href = "/ingredients/fish0" ingredient-link>Fish0:</a>
			<div ingredient-measurement> 250 grams<br><br></div>

		</li>
	</template>

	<p>Directions:</p>
	<ul id="directions">
	</ul>

	<p>Cooker's Notes:</p>
	<ul id="cookersNotes">
	</ul>
	
</body>
</html>