<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/recipe.css">
	<script src="/js/recipe.js" defer></script>
	<title>Document</title>
</head>
<body>
	<input type="button" value="Back" onclick="history.back()">
	<p id="name" class="title">Food Name</p>
	<p id="type" class="small-title">Main course</p>
	<p id="eatTime" class="small-title">Dinner</p>
	<p id="cookTime" class="info">Total Cook Time: 1 hour 15 minutes</p>
	<p id="effortTime" class="info">Effort Time: 30 minutes</p>
	<p id="defaultServings" class="small">(for 5 servings)</p>
	<p id="ethnicity" class="info">Ethnicity: Merican</p>
	<p id="difficulty" class="info">Difficulty: 5/10</p>

	<p>Ingredients:</p>
	<div id="ingredients">
		<p><a href = "/ingredients/fish0">Fish0</a>: 250 grams</p>
		<p><a href = "/ingredients/fish1">Fish1</a>: 251 grams</p>
		<p><a href = "/ingredients/fish2">Fish2</a>: 252 grams</p>
		<p><a href = "/ingredients/fish3">Fish3</a>: 253 grams</p>
		<p><a href = "/ingredients/fish4">Fish4</a>: 254 grams</p>
	</div>
	<div id="direction">List</div>
	<div id="cookersNotes">List</div>
</body>
</html>