<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/search.js" defer></script>
  <title>Search</title>
</head>
<body>
  <div class="search-wrapper">
    <label for="search">Search Recipes:</label>
    <input type="search" id="search" data-search>
  </div>
  <div class="recipe-cards" data-recipe-cards-container></div>
  <template data-recipe-template>
    <div class="card">
      <a class="header" href = "" data-header></a>
      <div class="body" data-body></div>
    </div>
  </template>
</body>
</html>